
.section{
    
    margin: 0 auto;
}

.first-section img{
    box-shadow: 0 15px 22px -10px rgba(0, 0, 0, .50);
}
 p{
    font-family: 'Roboto', sans-serif;
}
.article-separator .separator{
    width:33.33%;
    height: 3px;
}
.article-separator .separator.green{
    background: #8CBF3F;
}
.article-separator .separator.yellow{
    background: #F2CC0F;
}
.article-separator .separator.purple{
    background: #6F3CA0;
}
.second-section img{
    box-shadow: -5px 10px 12px 0 rgba(0, 0, 0, .50);
}

@media (max-width: 991px){
    #id_nav i{
        display: none;
    }
    
}

@media (max-width: 767px){

    header{
        background: linear-gradient(90deg, #409922 0%, #e1bd29 50%, #6f3ca0 100%);
    }
    header .logo-search .search{
        display: none;
        
    }
    
    header .logo-search #id_burger{
        float: right !important;
    }
    #id_nav{
        display: none;
    }
}
