
.section{
    
    margin: 0 auto;
}
.section p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}


.box input{
    border-style: none;
    border-radius: 5px;
    padding: 6px;
    width: 92%;
    
}
.box input:focus{
    outline: none;
}
.input-area{
    width:33%;
    margin-bottom: 20px;
    
}

.text-area{
    width: 99%;
    
    
   
}
.text-area textarea{
    
    width: 98%;
    border-style: none;
    border-radius: 5px;
    border-left: 3px solid salmon;
    border-bottom: 3px solid #8CBF3F;
   
   
}
.text-area textarea{
    outline: none;
    
    
}

button.btn{
    margin-left: 7px;
    
}

@media (max-width: 768px){
    .container .title-main h1{
        font-size: 2.5em;
    }
    .section{
        text-align: center;
    }
    .row{
        justify-content: center;
    }

    .input-area{
        
        width:86%;
        
    }
    .text-area{
        width:86%;
        margin-left: 0;
        
    }
    .text-area textarea{
        width: 92%;
    }
    form{
        margin-bottom: 100px;
    }

}
